/* member.css */

label {
	float: left;
    width: 10em;
    text-align: right;
}
input {
    width: 14em;
    margin-left: 1em;
    margin-bottom: .5em;
}
#buttons input {
	width: 7em;
	margin-right: 0;
}
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
span {
	color: red;
	font-size: 87.5%;
	margin-left: .5em;
}
#individual, #corporate {
	width: 1em;
	margin-bottom: .9em;
}
label.error {
	float: none;
	color: red;
	font-size: 87.5%;
}